<!doctype html>
<html ng-app="app">
<head>
    <script src="../js/angular.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>
    <script src="../release/ui-grid.js"></script>
    <link rel="stylesheet" href="../release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="datagrid.css" type="text/css">
</head>
<body>

<div ng-controller="MainCtrl as $ctrl">
    <!--<button type="button" id="addData" class="btn btn-success" ng-click="addData()">Add Data</button>-->
    <!--<button type="button" id="removeFirstRow" class="btn btn-success" ng-click="removeFirstRow()">Remove First Row</button>-->
    <!--<br>-->
    <!--<br>-->
    <custom-ng-data-grid data="$ctrl.gridData" config="$ctrl.gridConfig"></custom-ng-data-grid>
    <div
        id="custom-grid"
        ui-grid="$ctrl.gridOptions"
        ui-grid-selection
        ui-grid-exporter
        ui-grid-infinite-scroll
        ui-grid-move-columns
        ui-grid-pagination
        ui-grid="gridOptions"
        class="grid"
    ></div>
</div>


<script src="app.js"></script>
</body>
</html>
